/** @format */

@use "../../../../styles/variables" as variables;

.gameboard {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	background-color: #34495e;
	color: #ffffff;
	border: 6px solid #2c3e50;
	border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameInfo {
	font-family: variables.$default-font;
	color: rgb(0, 140, 255);
	text-align: center;
	padding: 10px;
}

.homeButton {
	@include variables.navButton;
}

.gameText {
	font-family: variables.$default-font;
	font-size: 100px;
	text-align: center;
	margin-bottom: 20px;
}
