/** @format */
@use "../../../../styles/variables" as variables;

.title {
	color: rgb(0, 140, 255);
	font-family: variables.$default-font;
	font-size: xx-large;
	text-align: center;
}

.bodyText {
	font-family: variables.$default-font;
	font-size: x-large;
}

.joinText {
	float: left;
	@extend .bodyText;
}

.createText {
	float: right;
	@extend .bodyText;
}

.joinButton {
	padding: 20px, 30px;
	font-size: larger;
	float: left;
	@include variables.tab;
}

.playButton {
	padding: 20px, 30px;
	font-size: larger;
	float: center;
	@include variables.tab;
}
