/** @format */
@use "../../../../styles/variables" as variables;

.title {
	color: rgb(0, 140, 255);
	font-family: variables.$default-font;
	font-size: 70px;
	text-align: center;
	padding: 10px;
}

.bodyContainer {
	@include variables.bodyContainer;
}

.bodyText {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: variables.$default-font;
	font-size: 40px;
}

.joinText {
	grid-column: 2;
	text-align: center;
	display: inline-block;
	margin: 60px;
	@extend .bodyText;
}

.createText {
	grid-column: 4;
	text-align: center;
	display: inline-block;
	margin: 60px;
	@extend .bodyText;
}

.joinButton {
	padding: 3px;
	border: rgb(118, 118, 118) 2px solid;
	border-style: outset;
	text-decoration: none;
	@include variables.tab;
}
